
.App{

  background-color: #202C36;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}


.card-item-ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
